{
  "printWidth": 100,
  "endOfLine": "lf",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "singleAttributePerLine": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "tabWidth": 2,
  "semi": true,
  "quoteProps": "as-needed",
  "arrowParens": "always",
  "proseWrap": "always"
}
